@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

/* Variables */
$colorPrimary1: #CDA274;
$colorPrimary2: #292F36;
$colorPrimary3: #E2E2E2;
$dmSerif: 'DM Serif Display', serif;
$Jost: 'Jost', sans-serif;

/* Buttons */
.btn {
  padding: 26px;
  color: #ffffff;
  font-family: $Jost;
  font-size: 18px;
  border-radius: 18px;
  background: #292F36;
  box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);
  text-decoration: none;
  width: 220px;
  text-align: center;
  & svg {
    margin-left: 5px;
  }
}

.btn--large {
  width: 287px;
}

.btn--color {
  background: #CDA274;

}

/* Header */
.header {
  margin-top: 53px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.logo {
  &__wrapper {
    display: flex;
  }
  &__text {
    color: $colorPrimary2;
    font-family: $dmSerif;
    font-size: 40px;
    margin-left: 10px;
  }
}

.nav {
  display: flex;
  gap: 40px;
  &__link {
    color: $colorPrimary2;
    font-family: $Jost;
    line-height: 125%;
    font-size: 20px;
    text-decoration: none;
  }
}

/* Top-content */
.top-content {
  margin-top: 57px;
  & .container {

  }
  &__inner {
    padding: 208px 52px;
    border-radius: 70px;
    background-image: url("../images/top-content.jpg");
    background-size: cover;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 434px;
  }
  &__title {
    font-size: 65px;
    font-family: $dmSerif;
    line-height: 125%;
    color: $colorPrimary2;
  }
  &__text {
    font-size: 22px;
    font-family: $Jost;
    line-height: 150%;
    color: $colorPrimary2;
  }
}

/* Projects */
.projects {
  margin-top: 96px;
  &__title {
    font-family: $dmSerif;
    font-size: 50px;
    line-height: 125%;
    color: $colorPrimary2;
    text-align: center;
  }
  &__text {
    font-family: $Jost;
    font-size: 22px;
    line-height: 150%;
    color: #4D5053;
    max-width: 737px;
    text-align: center;
    margin: 8px auto;
  }
}

/* Projects */
.project-items {
  margin-top: 93px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(547px, 1fr));
  gap: 56px 105px;
  &__card:first-child img{
    border-radius: 0 70px 0 0;
  }
  &__card:nth-child(2) img{
    border-radius: 70px 0 0 0;
  }
  &__card:nth-child(3) img{
    border-radius: 0 0 70px 0;
  }
  &__card:last-child img{
    border-radius: 0 0 0 70px;
  }
  &__title {
    color: $colorPrimary2;
    font-family: $dmSerif;
    font-size: 25px;
    line-height: 125%;
    letter-spacing: 0.5px;
    margin-top: 30px;
  }
  &__category {
    color: #4D5053;
    font-family: $Jost;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
  }
  &__card {
    position: relative;
  }
  &__icon {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

/* Features */
.features {
  background-color: #F4F0EC;
  margin-top: 96px;
  padding: 151px 0;
  &__inner {
    display: flex;
    justify-content: center;
    //gap: 76px;
  }
  &__item {
    padding: 0 65px;
    border-right: 1px solid #CDA274;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__item:last-child {
    border-right: 0;
  }
  &__number {
    color: $colorPrimary1;
    font-family: $dmSerif;
    line-height: 125%;
    letter-spacing: 1.7px;
    font-size: 85px;
  }
  &__description {
    color: #4d5053;
    font-family: $Jost;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
    margin-top: 16px;
  }
}

/* News */
.news {
  margin-top: 96px;
  &__title {
    color: $colorPrimary2;
    font-size: 50px;
    line-height: 125%;
    font-family: $dmSerif;
    letter-spacing: 1px;
    text-align: center;
  }
  &__description {
    color: #4D5053;
    font-family: $Jost;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
    text-align: center;
    max-width: 812px;
    margin: 12px auto 0;
  }
  &__cards {
    display: flex;
    gap: 27px;
    margin-top: 52px;
  }
  &__card {
    &-inner {
      border: 1px solid $colorPrimary3;
      border-radius: 62px;
      padding: 21px 21px 37px 21px;
      position: relative;
      &:hover {
        background-color: #F4F0EC;
      }
      &:hover svg circle{
        fill: #ffffff;
      }
    }
    &-img {
      border-radius: 45px 45px 0 0;
      &-wrapper {
        position: relative;
      }
    }
    &-category {
      position: absolute;
      width: 124px;
      height: 21px;
      left: 20px;
      bottom: 20px;
      border-radius: 8px 8px 8px 0;
      background: #ffffff;
      text-align: center;
      font-family: $Jost;
      font-size: 16px;
      padding: 10px 0;
    }
    &-title {
      font-family: $dmSerif;
      color: $colorPrimary2;
      font-size: 25px;
      line-height: 125%;
      letter-spacing: 0.5px;
      max-width: 289px;
      margin-top: 10px;
    }
    &-date {
      color: #4D5053;
      font-family: $Jost;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.16px;
      text-transform: capitalize;
    }
  }
  &__bottom-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
  }
}

/* Footer */
.footer {
  margin-top: 96px;
  padding-bottom: 134px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__left-column {
    width: calc(100% / 3);
  }
  &__logo {
    display: flex;
    align-items: center;
    &-text {
      color: $colorPrimary2;
      font-family: $dmSerif;
      font-size: 40px;
      line-height: 125%;
      margin-left: 10px;
    }
  }
  &__text {
    color: #4D5053;
    font-family: $Jost;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.22px;
    margin-top: 10px;
  }
  &__icons {
    margin-top: 31px;
  }
  &__icons .fa-linkedin-in {
    margin-left: 54px;
  }
  &__center-column {
    padding-left: 200px;
    width: calc(100% / 3);
  }
  &__nav-title {
    font-family: $dmSerif;
    color: $colorPrimary2;
    font-size: 25px;
    line-height: 125%;
  }
  &__nav {
    display: flex;
    flex-direction: column;
    & a {
      text-decoration: none;
      color: #4D5053;
      font-family: $Jost;
      font-size: 22px;
      line-height: 300%;
      letter-spacing: 0.22px;
    }
  }
  &__right-column {
    padding-left: 200px;
    width: calc(100% / 3);
  }
  &__contact {
    font-family: $dmSerif;
    color: $colorPrimary2;
    font-size: 25px;
    line-height: 125%;
  }
  &__address {
    color: #4D5053;
    font-family: $Jost;
    font-size: 22px;
    letter-spacing: 0.22px;
    margin-top: 20px;
  }
  &__email {
    color: #4D5053;
    font-family: $Jost;
    font-size: 22px;
    line-height: 300%;
    letter-spacing: 0.22px;
  }
  &__phone {
    color: #4D5053;
    font-family: $Jost;
    font-size: 22px;
    line-height: 300%;
    letter-spacing: 0.22px;
  }

}

/* Media Queries */
@media screen and (min-width: 1025px) and (max-width: 1199px) {
  /* CSS styles for screens between 1025px and 1199px */

}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* CSS styles for screens between 768px and 1024px */

}
@media screen and (min-width: 381px) and (max-width: 767px) {
  /* CSS styles for screens between 381px and 767px */

}
@media screen and (min-width: 320px) and (max-width: 380px) {
  /* CSS styles for screens between 320px and 380px */

}