html,
body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.agile__dots {
	margin-top: 20px;
}

.agile__dot button {
	cursor: pointer;
	display: block;
	font-size: 0;
	line-height: 0;
	background-color: transparent;
	width: 16px;
	height: 16px;
	border-radius: 100%;
	margin: 0 2px;
}




